<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
  <title>Leaderboard</title>
</head>

<body>
<script>
          function reloadGenre() {
                var g = document.getElementById("selectGenres").value;
                if(g == "Overall"){
                  window.location.replace("/users/leaderboard");
                } else{
                  window.location.replace(`/users/leaderboard/${g}`);
                }
              }
</script>

<% include ../partials/nav.ejs %>
  <div class="content">
      <div class="game">
          <div class="title arvo">
              <p>Leaderboard</p>
          </div>
          <div class="scoretitle">
            <select id="selectGenres" onchange="reloadGenre();">
              <option value="Overall">Overall</option>
              <% genres.forEach(function(genre) { %>
                <option value=<%=genre%>><%=genre%></option>
              <% }); %>
            </select>
          </div>
          <div id=table>
            <table class="table table-hover table-bordered table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Score</th>
                  <th scope="col">Username</th>
                  <th scope="col">Genre</th>
                </tr>
              </thead>
              <tbody>
                <% if(data){
                    var i=1;
                    for(var d of data){ %>
                  <tr>
                    <td><%= i %></td>
                    <td><%= d.score %></td>
                    <td><%= d.username %></td>
                    <td><%= d.genre %></td>
                    <% i++; %>
                  </tr>
                <% }} %>
              </tbody>
            </table>
          </div>
      </div>
  </div>


</body>

</html>
