<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
  <title>Leaderboard</title>
</head>

<body>

<% include ../partials/nav.ejs %>
  <div class="content">
      <div class="game">
          <div class="title arvo">
              <p>Leaderboard</p>
          </div>
          <div class="scoretitle">

            <% genres.forEach(function(genre) {
                var action = `/users/leaderboard/${genre}`;
                %>
            <form method="get" action=<%= action %>><button type="submit" class="btn btn-sm text-uppercase"><%=genre%></button></form>
            <% }); %>
          </div>
          <div id=table>
            <table class="table table-hover table-bordered table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Score</th>
                  <th scope="col">Username</th>
                  <th scope="col">Genre</th>
                <!--  <th scope="col">Best Genre</th>
                  <th scope="col">Games Played</th> -->
                </tr>
              </thead>
              <tbody>
                <% if(data){
                    var i=1;
                    for(var d of data){ %>
                  <tr>
                    <td><%= i %></td>
                    <td><%= d.score %></td>
                    <td><%= d.username %></td>
                    <td><%= d.genre %></td>
                  <!--  <td><%= bestgenre %></td>
                    <td><%= gamesplayed %></td> -->
                    <% i++; %>
                  </tr>
                <% }} %>
              </tbody>
            </table>
          </div>
      </div>
  </div>


</body>

</html>
