<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
  <title>Leaderboard</title>
</head>

<body>

<% include ../partials/nav.ejs %>
  <div class="content">
      <div class="game">
          <div class="title arvo">
              <p>Leaderboard</p>
          </div>
          <div class="scoretitle">
              <p>Possibly a drop box here for selecting time frame???</p>
          </div>
          <div id=table>
            <table class="table table-hover table-bordered table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Total Score</th>
                  <th scope="col">Username</th>
                <!--  <th scope="col">Best Genre</th>
                  <th scope="col">Genre ???</th>
                  <th scope="col">Games Played</th> -->
                </tr>
              </thead>
              <tbody>
                <% if(data){
                    for(var d of data){ %>
                  <tr>
                    <th scope="row"><%= d.score %></th>
                    <td><%= d.username %></td>
                  <!--  <td><%= bestgenre %></td>
                    <td><%= genre %></td>
                    <td><%= gamesplayed %></td> -->
                  </tr>
                <% }} %>
              </tbody>
            </table>
          </div>
      </div>
  </div>


</body>

</html>
