<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
  <title>Profile</title>
</head>

<body>

<% include ../partials/nav.ejs %>

  <div class="content">
      <div class="game">
          <div class="title arvo">
              <p><%=username%></p>
          </div>
          <div class="scoretitle">
              <p>Recent Scores</p>
          </div>
          <div id=table>
            <table class="table table-hover table-bordered table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Score</th>
                  <th scope="col">Genre</th>
                  <th scope="col">Mode</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i=0; i < results.length; i++){ %>
                  <tr>
                    <th scope="row"><%=results[i].dateplayed%></th>
                    <td><%=results[i].score%></td>
                    <td><%=results[i].genre%></td>
                    <td><%=results[i].mode%></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <div class="text-center">
            <a href="/reset"><button class="btn btn-sm btn-danger  text-uppercase" type="submit">Change Password</button></a>
          </div>
      </div>
  </div>


</body>

</html>
